<h2>ngx-deferred-loader</h2>
<button (click)="requestData()">Request data</button>
<div class="wrapper">
  <div class="wrapper__section">
    <h3>Quick response - loader not needed</h3>
    <div class="lds-ripple" *deferredLoader="fastTodos$; waitMs:300">
      <div></div>
      <div></div>
    </div>
    <ul>
      <li *ngFor="let todo of fastTodos$ | async">
        {{ todo.name }}
      </li>
    </ul>
  </div>
  <div class="wrapper__section">
    <h3>Slow response - display loader after a while</h3>
    <div class="lds-ripple" *deferredLoader="slowTodos$; waitMs:400">
      <div></div>
      <div></div>
    </div>
    <ul>
      <li *ngFor="let todo of slowTodos$ | async">
        {{ todo.name }}
      </li>
    </ul>
  </div>
  <div class="wrapper__section">
      <h3>Very slow response - display flaky connection warning</h3>
      <p *deferredLoader="verySlowTodos$; waitMs:1000">
        Please check your network connection...
      </p>
      <ul>
        <li *ngFor="let todo of verySlowTodos$ | async">
          {{ todo.name }}
        </li>
      </ul>
    </div>
</div>